*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    background: rgba(0, 0, 0, 0.7) url("../images/pexels-olly-774909.jpg");
    height:102vh;
    width: 50vw;
    background-blend-mode:darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: center;
    align-items:end;
    margin-left:350px;
}
.hero div{
    width:500px;
    color: white;
    font-size: 1.1rem;
}
.hero h2,p{
    color:rgb(255, 255, 255);
    margin-bottom:20px;
}
.loginform form input {
   width:350px;
   height:40px;
   border:0.5px solid black;
   margin-bottom:20px;
   border-radius:5px;

}
.loginform{
    margin-left:150px;
}
.ErrorMessage{
    color:black;
    background-color: antiquewhite;
    padding:5px;
    border-radius: 5px;
}
button{
    color:white;
    background-color: rgb(21, 0, 255);
    padding:10px 40px;
    border-radius: 10px;
    border:none;
}


