*{
    margin: 0;
    box-sizing: border-box;
    padding: none;
}
body{
   display: flex;
   align-items:center;
   height: 100vh;
   overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    height: 100%;
    /* justify-content: space-around; */
    background-color:#ffffff;
    width:100vw;
    margin-bottom:10px;
    
}

.container {
    position: relative;
}
.ErrorMessage{
    border-radius:10px;
    padding:5px;
    background-color: rgb(240, 228, 228);
    color:rgb(21, 0, 255);
    font-size:1rem;
    margin-bottom:10px;
}
.host,.booking{
   border-radius: 20% 50% 45% 25%;
   background-color: aquamarine;
}
.signupForm{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin-right:280px;
    margin-left:250px;
}
.signupForm h1{
    color: rgb(21, 0, 255);
    margin-bottom: 20px;
}
label{
    /* width:100px; */
    
    margin-bottom:20px;
    color:rgb(21, 0, 255);
}
.signupForm input{
  
  width:300px;
  height:40px;
  border-radius:10px;
  border:1px solid;
  /* margin-right:50px; */
  /* margin-top:30px; */
}
input[type="password"]{
    margin-bottom:30px;

}
input[type="email"]{
    margin-top:20px;
    margin-bottom:20px;
}

.hero{
    background: rgba(0, 0, 0, 0.7) url("../images/pexels-olly-774909.jpg");
    height:102vh;
    width: 70vw;
    background-blend-mode:darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: center;
    align-items:end;
}
.hero div{
    width:500px;
    color: white;
    font-size: 1.1rem;
}
.hero h2{
    color:rgb(255, 255, 255);
    margin-bottom:20px;
}
button{
    color:white;
    background-color: rgb(21, 0, 255);
    padding:10px 40px;
    border-radius: 10px;
    border:none;
}